@charset "UTF-8";

/* Mobile First */

* {
    margin: 0;
    padding: 0;

}


html body  {
    background: #570757;
    height: 100%;
}

main {
    color: white;
}

header {
    display: flex;
    background: hsla(0, 0%, 10%, 0.884);
    width: 100%;
    height:auto;
    color: white;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.menu {
    width: 100%;
}

.menu li {
    list-style: none;
    margin: 1em;

}

li:first-child {
    text-align: left;
}

li:nth-child(2) {
    text-align: center;
}

li:last-child {
    text-align: right;
}

.calculador {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}


.item-calculador h1 {
    text-align: center;
    font-size:  1.5em  ;
    margin: 1em 0;
}

.item-calculador input {
    display: flex;
    text-align: center;
    width: 90%;
    height: 2em;
    margin: 1em 0;
    justify-content: center;
}

.item-calculador label {
    width: 90%;
    height: auto;
    text-align: left;
}

.item-resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 1em 0;

}

#res {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    align-items: center;
    margin: 1em 0 2em 0;
    line-height: 1.5em;
    font-size: 1.2em;
    word-break: keep-all;
    text-align: justify;
    text-indent: 2em;
}

.rodape {
    display: flex;
    bottom: 0;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: hsla(0, 0%, 10%, 0.884);
    color: white;
    position: fixed;
    bottom: 0;

}

.redes {
    display: flex;
}

/* Media querys */

@media screen and (min-width:600px) {
    main {
       justify-content: center;
    }
    #res {
        max-width: 940px;
    }
    header {
        justify-content: center;
    }
    .menu {
        max-width: 940px;
    }
}
